// FOOTER STYLING

footer {
    background: $red;
    text-align: center;
    color: white;
    padding: 1px;
    height: 47px;
}

.favePage footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}