$offWhite: rgb(242,242,242);
$white: rgb(242,236,220);
$red: rgb(229,91,91);


.wrapper {
    width: 85%;
    max-width: 1280px;
    margin: 0 auto;
}

div {
    border: 2px solid tomato;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;

}