$offWhite: rgb(242,242,242);
$white: rgb(242,236,220);
$red: rgb(229,91,91);
$shadow: rgba(210,202,202, 0.3);
$grey: rgb(89,101,129);
$blue: rgb(23, 36, 66);
$font: 'Lato', sans-serif;
$greyShadow: rgb(210,202,202);
$yellowShadow: rgb(206,172,91);

@mixin buttonShadow ($colour) {
    box-shadow: 0 3px 3px $colour;
}


@mixin header-image($header-image) {
    background: $header-image;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font;
    font-size: 1.4rem;
}
.wrapper {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    color: $blue;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;

}