header {
    background: linear-gradient(rgba(242,236,220,0.3), rgba(242,236,220,0.3)), url(../assets/header4.jpg);
    background-position: left;
    background-repeat: no-repeat;
    height: 100vh;
}

