// RESULTS SECTION STYLING

.resultSection {
    padding: 10vh 0;    
    h2 {
        text-align: center;
        padding-top: 30px;
        font-size: 3rem;
        text-transform: capitalize;

        &+ p {
            text-align: center;
            padding-bottom: 50px;
            margin-top: 0;
            font-size: 2rem;
            font-weight: 700;
            color: $grey;
            text-transform: capitalize;
        }
    }
}

.resultsGrid, .faveGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(420px, 0.3fr));
    grid-auto-rows: minmax(420px, 0.3fr);
    grid-gap: 20px;

    @media (max-width: 900px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 600px) {
        grid-template-columns: (1fr);
        grid-template-rows: repeat(auto-fit, 400px);
        grid-auto-rows: 400px;
    }

    .restaurantItem {
        border-radius: 18px;
        overflow: hidden;
        box-shadow: 2px 2px 8px 2px $shadow;
        .restaurantImage {
            height: 50%;
            position: relative;
            
            img {
                height: 100%;
                object-fit: cover;
                
            }    
        }
    }
}

.restaurantInfo {
    padding: 8%;
    .fas {
        color: $red;
    }

    p {
        color: $grey;
    }
}

.costRank {
    display: flex;

    p {
        padding: 0 1px;
    }
}

.faveOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        font-size: 2rem;
        font-weight: 700;
        color: $blue;
        padding: 2px 10px;
        background: white;
    }
}